<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
</head>
<body>
<h2>Create new blog</h2>
<p>
    <a href="/">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" method="post" th:object="${blog}">
    <table>
        <tr>
            <td>Title</td>
            <td><textarea rows="2" cols="50" th:field="*{title}"></textarea></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea rows="20" cols="50" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>