<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog list</title>
</head>
<body>
<h1>Blog list</h1>
<a href="/create-blog">Create new blog</a>
<form action="/search-blog" method="post">
    <input type="text" name="search" placeholder="blog title">
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Content</td>
        <td>Imei</td>
        <td>Rate</td>
    </tr>
    <th:block th:each="blog  : ${blog}">
        <tr>
            <td th:text="${blog.getId()}"></td>
            <td th:text="${blog.getTitle()}"></td>
            <td th:text="${blog.getContent()}"></td>
            <td th:text="${blog.getImei()}"></td>
            <td th:text="${blog.getRate()}"></td>
            <td><a th:href="@{/edit-blog/__${blog.getId()}__}">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.getId()}__}">Delete</a></td>
        </tr>
    </th:block>
    <tr>

    </tr>
</table>
</body>
</html>